@using System.Web;
@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim;
@model PageContentModel


@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{

    ViewData["Title"] = $"{Model.PageTitle }{(Model.Preview.IsPreview ? " Preview" : "")}";

}

@section PreviewErrors {

    @await Html.PartialAsync("_PreviewErrorsPartial", Model.Preview)

}

@if (Model.PagePreamble != null)
{

    @await Html.PartialAsync(

        "_InterimPreambleGeneralPartial",

        new Tuple<Preamble?, Breadcrumbs?, bool, bool>(Model.PagePreamble, null, true, Model.Preview.IsPreview)

    )
}

@{

    string? completeUrl = Url.Action(Model.Preview.IsPreview ? "LandingPreview" : "Landing", "Landing", null, protocol: HttpContextAccessor.HttpContext?.Request.Scheme)!;

}

@if (Model.TileSections.Any())
{
    <div class="govuk-width-container govuk-!-padding-left-2 govuk-!-padding-right-2">

    <div class="govuk-main-wrapper">

        @for(int i = 0; i < Model.TileSections.Count; i++)
        {
            @await Html.PartialAsync(

                "_TileSectionPartial",

                (Model.TileSections[i], i > 0, Model.Preview.IsPreview)

            )

        }

    </div>

</div>
}

<div class="govuk-width-container govuk-!-padding-top-8">

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-full">

            @Model.Contents

        </div>

    </div>

</div>

@* To-do - Implement these partials *@
@* @await Html.PartialAsync("_SharePagePartial", completeUrl) *@