@{ 
    ViewData["Title"] = "Sorry, there is a problem with the service";
    ViewData["Description"] = "There is a problem with the service. Try again later.";
    @*ViewData[nameof(BreadCrumbViewModel)] = new BreadCrumbViewModel {Level = BreadCrumbLevel.Error};*@
}

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-width-container govuk-!-padding-top-3">
        <div id="error-outer" class="govuk-grid-row">
            <div id="error-inner" class="govuk-grid-column-full">

                <h1 id="error-header" class="govuk-heading-l">Sorry, there is a problem with the service</h1>
               
                <p id="error-try-again" class="govuk-body">You can try again later or contact our further education (FE) advisors if you have any questions. </p>
                
                <p id="error-email" class="govuk-body">Email:</p>

                <p class="govuk-body" id="error-email-section">
                <a class="govuk-link" id="error-email-value" href="mailto:teach.fe@education.gov.uk" style="color:#1B3CF3"><strong>teach.fe@education.gov.uk</strong></a>
                </p>
                 
                <p id="error-telephone govuk-!-padding-top-8" class="govuk-body">Telephone:</p>
                
                <p class="govuk-body" id="error-telephone-number"><strong>0800 389 2502</strong></p>
                
                <p id="error-opening-times" class="govuk-body">Opening times:</p>
                
                <p class="govuk-body" id="error-opening-times-value"><strong>Monday to Friday: 9am to 5:30pm</strong></p>

                <p class="govuk-body" id="error-opening-times-value">Calls are free.</p>
            </div>
        </div>
    </div>
</main>