@{
    ViewData["Title"] = "Request Rate Limit Exceeded";
    ViewData["Description"] = "Request Rate Limit Exceeded";
}

<main class="govuk-main-wrapper" id="main-content">
    <div class="govuk-width-container govuk-!-padding-top-3">
        <div id="error-outer" class="govuk-grid-row">
            <div id="error-inner" class="govuk-grid-column-full">
                <h1 id="error-header" class="govuk-heading-l">Too many requests. Please try again later.</h1>
            </div>
        </div>
    </div>
</main>