@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model ActionBanner;

<div id="@Model.DataId">
    @* Please add Frontend code *@
</div>