@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model ContentBox

<div data-id="@Model.DataId"  class="govuk-width-container govuk-!-padding-top-6">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            @ComponentService.ToHtmlString(Model.ContentBoxContents)
        </div>
    </div>
</div>
 