@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model FullImageCardBanner;

@if (Model != null)
{
    <div data-id="@Model.DataId">
        // Please add Frontend code
    </div>
   
}