@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model HeaderFullImage;

@if (Model != null)
{
   <section class="fe-header-full-image">
      <img src="@ComponentService.GetMediaImageSource(Model.HeaderImage)" alt="@Model.Title"/>
   </section>
}