@using System.Web;
@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim;
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model PageContentModel


@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor


@{

    ViewData["Title"] = $"{Model.PageTitle}{(Model.Preview.IsPreview ? " Preview" : "")}";

}

@section PreviewErrors {

    @await Html.PartialAsync("_PreviewErrorsPartial", Model.Preview)

}

@if (Model.PagePreamble != null)
{

    @await Html.PartialAsync("_PreambleGeneralPartial",new Tuple<Preamble?, Breadcrumbs?, bool, bool, string>(Model.PagePreamble, null, true, Model.Preview.IsPreview, Model.PageTemplate))
}

@* To-do - Implement these partials *@
@* @await Html.PartialAsync("_SharePagePartial", completeUrl) *@

@if (Model.TileSections.Any())
{
    <div class="govuk-width-container govuk-!-padding-left-2 govuk-!-padding-right-2">
        <div class="govuk-main-wrapper">
            @for (int i = 0; i < Model.TileSections.Count; i++)
            {
                @await Html.PartialAsync(

                         "_TileSectionPartial",

                         (Model.TileSections[i], i > 0, Model.Preview.IsPreview)

                         )
            }

        </div>
    </div>
}

@if(Model.ImageCardBanner!= null)
{
    @await Html.PartialAsync("_ImageCardBanner", Model.ImageCardBanner)
}

@if (Model.NewsLetter != null)
{
    @await Html.PartialAsync("_NewsLetterPartial", Model.NewsLetter)
}

@if (Model.Video != null)
{
    @await Html.PartialAsync("_VideoPartial", Model.Video)
}

@if (Model.ContentBoxSection != null)
{
    @await Html.PartialAsync("_ContentBoxPartial", Model.ContentBoxSection)
}

@if (Model.ContactUs != null)
{
    @await Html.PartialAsync("_ContactUsPartial", Model.ContactUs)
}
