@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@model (IEnumerable<MenuItem>?, bool?)

<header class="das-header__mobile das-header js-enabled" data-module="govuk-header">

    <div class="govuk-header__container ncsssp-header__container">

        <div class="das-header-mobile">
        
            <div style="display: flex; justify-content: left; align-items: flex-start;">
            <button type="button" class="govuk-header__menu-button govuk-header__mobile-menu-button" aria-controls="navigation" aria-label="Show or hide menu" aria-expanded="false" style="/* Add additional styles here */">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0,0,256,256" width="30px" height="30px"><g fill="#ffffff" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,256v-256h256v256z" id="bgRectangle"></path></g><g fill="#1b3cf3" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><g transform="scale(5.12,5.12)"><path d="M5,8c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,23c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175zM5,38c-0.72127,-0.0102 -1.39216,0.36875 -1.75578,0.99175c-0.36361,0.623 -0.36361,1.39351 0,2.01651c0.36361,0.623 1.0345,1.00195 1.75578,0.99175h40c0.72127,0.0102 1.39216,-0.36875 1.75578,-0.99175c0.36361,-0.623 0.36361,-1.39351 0,-2.01651c-0.36361,-0.623 -1.0345,-1.00195 -1.75578,-0.99175z"></path></g></g></svg>
                </button>
            </div>

            <div class="das-header-mobile__flex_column">

                <a href="@(Model.Item2.HasValue && Model.Item2.Value ? "/preview" : "/")">

                    <image class="app-header__department-for-education-logo" alt="Department for education logo" src="/svg/teach-in-further-education.svg" />
                </a>

            </div>
            <div class="das-header-mobile__flex_column">
            <button type="submit" class="govuk-button-tife-mobile" data-module="govuk-button">
                Talk to a specialist
            </button>
            </div>

        </div>

        <div class="govuk-grid-column-full govuk-!-padding-0">

            <nav id="mobile-navigation" aria-label="Menu" class="govuk-header__navigation">

                <ul class="govuk-header__navigation-list">

                    <li class="govuk-header__navigation-list-mobile-heading">

                        menu
                        <button class="govuk-header__navigation-list-mobile-close-btn" data-menu-section="content-in-this-section" title="Close menu" style="display: block;" role="button">

                            <svg class="das-menu-item__close_section" width="18" height="18" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 22">

                                <rect x="-3.95" y="9.58" width="29.9" height="2.84" rx="1.4" ry="1.4" transform="translate(11 -4.56) rotate(45)"></rect>

                                <rect x="-3.95" y="9.58" width="29.9" height="2.84" rx="1.4" ry="1.4" transform="translate(26.55 11) rotate(135)"></rect>

                            </svg>

                            <svg class="das-menu-item__open_section" style="display:none" fill="#000000" height="40px" width="40px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 900 900" xml:space="preserve">

                                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>

                                <g id="SVGRepo_iconCarrier"> 

                                <polygon points="386.258,91.567 203.718,273.512 21.179,91.567 0,112.815 203.718,315.87 407.437,112.815 "></polygon>

                                </g>

                            </svg>

                        </button>

                    </li>

                    @if (Model.Item1 != null && Model.Item1.Any())
                    {

                        foreach (MenuItem item in Model.Item1)
                        {

                            <li class="govuk-header__navigation-item das-header-navigation-item-chevron-mobile govuk-header__navigation-item--active" data-menu-section="content-in-this-section">

                                <a class="govuk-header__link" href="@(Model.Item2.HasValue && Model.Item2.Value ? $"/preview{item.MenuItemSource}" : item.MenuItemSource)" role="link">@item.MenuItemText</a>

                            </li>

                        }

                    }

                </ul>

            </nav>

        </div>

    </div>

</header>