@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@model (IEnumerable<MenuItem>?, bool?)

<header class="govuk-header das-header das-header__desktop js-enabled" data-module="govuk-header">

    <div class="govuk-header__container das-header__container">

        <div class="govuk-width-container">

            <div class="govuk-grid-row das-header__row">

                <div class="das-header__logo-container govuk-grid-column-three-quarters">

                    <a href="@(Model.Item2.HasValue && Model.Item2.Value ? "/preview" : "/")">
                    
                        <image class="app-header__department-for-education-logo" alt="Department for education logo" src="/svg/teach-in-further-education.svg" />
                    
                    </a>

                </div>

                <div class="das-header__logo-container govuk-grid-column-one-quarter">

                    <svg viewBox="0 0 170 61" fill="none" xmlns="http://www.w3.org/2000/svg" class="app-header__skills-for-life-logo">

                        <path fill="white" d="M81.5085 42.2673C81.5085 43.8743 80.6038 44.6778 78.7945 44.6778H77.8216V40.2799H78.8448C80.6217 40.2799 81.5097 40.9424 81.5085 42.2673ZM59.8901 40.306C57.2946 40.306 55.9969 42.1847 55.9969 45.9421C55.9969 49.6636 57.2859 51.5244 59.8641 51.5244C61.1752 51.5244 62.1475 51.0724 62.781 50.1683C63.4146 49.2642 63.7314 47.8555 63.7314 45.9421C63.7314 44.0183 63.4105 42.5985 62.7689 41.6829C62.1272 40.7672 61.1677 40.3083 59.8901 40.306V40.306ZM169.733 12.9249V48.2104H154.154V61.0052H31.7963V48.2104H0V12.9249H15.5799V0H113.026V12.9249H169.733ZM94.8583 23.3491C95.7172 23.7703 96.6238 24.0864 97.5584 24.2907C98.6172 24.4883 99.6932 24.579 100.77 24.5613C102.3 24.5613 103.633 24.3046 104.769 23.7913C105.827 23.338 106.731 22.5874 107.37 21.6305C107.98 20.6839 108.295 19.5776 108.276 18.4517C108.276 17.1523 107.954 16.0747 107.311 15.2192C106.669 14.3637 105.522 13.5625 103.871 12.8156C102.149 12.026 101.094 11.482 100.704 11.1838C100.315 10.8855 100.12 10.5473 100.122 10.1693C100.121 9.99644 100.163 9.82613 100.243 9.67278C100.322 9.51942 100.438 9.38754 100.579 9.2883C100.887 9.05014 101.376 8.93453 102.048 8.94146C103.351 8.94146 104.898 9.35362 106.689 10.1779L108.276 6.16156C106.212 5.23666 104.189 4.77421 102.206 4.77421C99.9585 4.77421 98.1925 5.27019 96.9081 6.26215C95.6236 7.2541 94.9843 8.63509 94.9901 10.4051C94.9702 11.2483 95.1243 12.0866 95.4427 12.8677C95.7588 13.5798 96.2333 14.2103 96.8301 14.7111C97.4544 15.2452 98.392 15.7979 99.6429 16.369C101.023 16.9933 101.873 17.406 102.192 17.6072C102.458 17.7628 102.693 17.9656 102.886 18.2055C103.032 18.407 103.108 18.6505 103.103 18.8992C103.106 19.1035 103.058 19.3054 102.965 19.487C102.871 19.6686 102.733 19.8241 102.565 19.9397C102.205 20.2067 101.641 20.3403 100.872 20.3403C99.8794 20.3258 98.8925 20.1824 97.9364 19.9137C96.8697 19.6286 95.837 19.2285 94.8565 18.7205L94.8583 23.3491ZM80.1177 24.2977H92.6784V20.0975H85.296V5.04822H80.1177V24.2977ZM64.4909 24.2977H77.0516V20.0975H69.6709V5.04822H64.4926L64.4909 24.2977ZM55.1437 24.2977H60.3462V5.04822H55.1437V24.2977ZM36.6989 24.2977H41.9014V17.8621L43.4344 16.9413L47.2236 24.3012H53.0713L47.1317 13.6758L53.1753 5.05168H47.5115L43.4865 10.9479C42.906 11.734 42.3765 12.5565 41.9014 13.4105V5.04822H36.6989V24.2977ZM20.3108 23.3491C21.1698 23.7703 22.0763 24.0864 23.0109 24.2907C24.0697 24.4883 25.1457 24.579 26.2226 24.5613C27.7522 24.5613 29.0852 24.3046 30.2217 23.7913C31.2827 23.3392 32.1895 22.5885 32.8316 21.6305C33.4401 20.6834 33.7545 19.5773 33.7351 18.4517C33.7351 17.1523 33.4137 16.0747 32.7709 15.2192C32.1281 14.3637 30.9812 13.5625 29.3303 12.8156C27.6076 12.026 26.5521 11.482 26.1637 11.1838C25.7752 10.8855 25.581 10.5473 25.581 10.1693C25.5809 9.99644 25.6224 9.82613 25.7021 9.67278C25.7818 9.51942 25.8973 9.38754 26.0388 9.2883C26.3452 9.05014 26.8348 8.93453 27.5077 8.94146C28.8106 8.94146 30.3575 9.35362 32.1483 10.1779L33.7351 6.16156C31.6726 5.23666 29.6494 4.77421 27.6655 4.77421C25.418 4.77421 23.6526 5.27019 22.3693 6.26215C21.086 7.2541 20.4443 8.63509 20.4443 10.4051C20.4244 11.2483 20.5785 12.0866 20.8969 12.8677C21.2125 13.58 21.6871 14.2107 22.2843 14.7111C22.9086 15.2452 23.8456 15.7979 25.0954 16.369C26.4758 16.9933 27.3261 17.406 27.6464 17.6072C27.9122 17.7626 28.1473 17.9654 28.3401 18.2055C28.4858 18.407 28.5619 18.6505 28.5568 18.8992C28.5605 19.1036 28.5133 19.3057 28.4195 19.4873C28.3256 19.669 28.1881 19.8244 28.0193 19.9397C27.6597 20.2067 27.0961 20.3403 26.3284 20.3403C25.3349 20.3258 24.3473 20.1824 23.3907 19.9137C22.3239 19.6286 21.2913 19.2285 20.3108 18.7205V23.3491ZM48.1011 36.3433H36.7752V55.5928H41.8737V48.3647H47.6156V44.1905H41.8737V40.5175H48.1011V36.3433ZM69.1819 45.9421C69.1819 42.6934 68.3952 40.2308 66.8217 38.5544C65.2482 36.8781 62.9359 36.0399 59.8849 36.0399C56.8455 36.0399 54.5274 36.885 52.9308 38.5752C51.3342 40.2655 50.5365 42.7119 50.5376 45.9143C50.5376 49.1515 51.3394 51.6181 52.943 53.3141C54.5465 55.0101 56.8518 55.8576 59.8589 55.8564C62.9099 55.8564 65.2262 55.0136 66.8078 53.328C68.3894 51.6423 69.1819 49.1804 69.1854 45.9421H69.1819ZM89.0696 55.5928L83.4855 47.2063C85.6532 45.9854 86.7371 44.2605 86.7371 42.0315C86.7371 38.2382 84.1323 36.3422 78.9228 36.3433H72.6433V55.5928H77.8216V48.5884H79.1327L83.1976 55.5928H89.0696ZM110.348 51.3926H102.967V36.3433H97.7873V55.5928H110.348V51.3926ZM118.62 36.3433H113.418V55.5928H118.62V36.3433ZM134.089 36.3433H122.763V55.5928H127.862V48.3647H133.605V44.1905H127.862V40.5175H134.089V36.3433ZM148.616 36.3433H137.237V55.5928H148.616V51.3527H142.415V47.7196H148.157V43.5454H142.415V40.5175H148.616V36.3433ZM166.565 16.1037H113.026V29.332H15.5886V16.1037H3.17357V45.0281H31.805V31.6749H154.162V45.0281H166.577L166.565 16.1037Z" />

                    </svg>

                </div>

            </div>

            <div class="govuk-header__content-container govuk-width-container das-header__navigation">

                <div class="govuk-header__content">

                    <nav aria-label="Menu" class="govuk-header__navigation">

                        <ul id="navigation" class="govuk-header__navigation-list">

                            @if (Model.Item1 != null && Model.Item1.Any())
                            {

                                foreach (MenuItem item in Model.Item1)
                                {

                                    <li class="govuk-header__navigation-item das-header-navigation-item-chevron-mobile govuk-header__navigation-item--active">

                                        <a class="govuk-header__link" href="@(Model.Item2.HasValue && Model.Item2.Value ? $"/preview{item.MenuItemSource}" : item.MenuItemSource)" role="link">@item.MenuItemText</a>

                                    </li>

                                }

                            }

                        </ul>

                    </nav>

                </div>

            </div>

        </div>

    </div>

</header>

<script>

    document.addEventListener("DOMContentLoaded", function () {

        var path = window.location.pathname;

        path = path.replace(/\/$/, "");
       
        var navigationItems = document.querySelectorAll(".govuk-header__navigation-item");

        navigationItems.forEach(function (item) {

            var href = item.querySelector("a").getAttribute("href");

            href = href.replace(/\/$/, "");
       
            if (href === path) {
               
                item.classList.add("govuk-header__navigation-item--active");

                item.querySelector("a").setAttribute("tabindex", "-1");

                item.setAttribute("tabindex", "-1");

            } 
            else {

                item.classList.remove("govuk-header__navigation-item--active");

                item.querySelector("a").setAttribute("tabindex", "");

                item.setAttribute("tabindex", "");

            }
        });

    });

</script>