@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model ImageCardBanner;

@if (Model != null)
{
    <div class="govuk-grid-row govuk-!-margin-0">

        <div class="image-Card-banner-outer-div govuk-grid-column-full">
            <div id="imageCardBannerDiv" class="image-Card-banner-inner-div image-card-banner-content-div">
            @ComponentService.ToHtmlString(Model.BannerContents)
        </div>
            <div class="image-card-banner-image-div image-card-banner__mobile">
            <img src="@ComponentService.GetMediaImageSource(Model.BannerImage)" alt="@Model.BannerImage?.Title" />
        </div>
    </div>
</div>  
}