@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services

@model ImageCard

@if (Model != null)
{
    <div class="outer-div govuk-grid-column-two-thirds">
        <div class="inner-div content-div">
            @ComponentService.ToHtmlString(Model.ImageCardDescription)
        </div>
        <div class="image-div">
            <img src="@ComponentService.GetMediaImageSource(Model.CardImage)" alt="@Model.CardImage?.Title" />
        </div>
    </div>
}


