@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services

@* @model IEnumerable<ContentBox> *@

<div class="govuk-grid-row">
    <div class="govuk-width-container govuk-!-padding-bottom-8">
        <div class="govuk-grid-row govuk-!-padding-right-4">

            <div class="govuk-grid-column-two-thirds">

                <h2 class="govuk-heading">Case studies</h2>

                <p class="govuk-body govuk-!-margin-bottom-0">Find out how other businesses are using apprenticeships:</p>

            </div>

        </div>
        <div class="govuk-grid-row govuk-!-padding-right-4 govuk-!-padding-top-3">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-5">
                <label class="govuk-label" for="sort">
                    Email
                </label>
                <input class="govuk-input" id="event-name" name="eventName" type="text">
            </div>

        </div>
        <div class="govuk-grid-row govuk-!-padding-right-4 govuk-!-padding-top-3">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-3">
                <label class="govuk-label" for="sort">
                    What subject are you interested in teaching? (Optional)
                </label>
                <select class="govuk-select" style="width:100%" id="location" name="location" aria-describedby="location-hint">
                    <option value="choose" selected>Choose location</option>
                    <option value="eastmidlands">East Midlands</option>
                    <option value="eastofengland">East of England</option>
                    <option value="london">London</option>
                    <option value="northeast">North East</option>
                    <option value="northwest">North West</option>
                    <option value="southeast">South East</option>
                    <option value="southwest">South West</option>
                    <option value="westmidlands">West Midlands</option>
                    <option value="yorkshire">Yorkshire and the Humber</option>
                </select>

            </div>
        </div>
        <div class="govuk-grid-row govuk-!-padding-right-4 govuk-!-padding-top-3">
            <div class="govuk-grid-column-two-thirds govuk-!-padding-top-3">
                <label class="govuk-label" for="sort">
                    Where are you interested in teaching? (Optional)
                </label>
                <select class="govuk-select" style="width:100%" id="location" name="location" aria-describedby="location-hint">
                    <option value="choose" selected>Choose location</option>
                    <option value="eastmidlands">East Midlands</option>
                    <option value="eastofengland">East of England</option>
                    <option value="london">London</option>
                    <option value="northeast">North East</option>
                    <option value="northwest">North West</option>
                    <option value="southeast">South East</option>
                    <option value="southwest">South West</option>
                    <option value="westmidlands">West Midlands</option>
                    <option value="yorkshire">Yorkshire and the Humber</option>
                </select>

            </div>
        </div>
    </div>
</div>