@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services

@model Tuple<Preamble?, Breadcrumbs?, bool, bool>

@if (Model.Item1 != null || Model.Item2 != null)
{

    <div class="das-primary-banner govuk-grid-row govuk-!-padding-top-0 govuk-!-padding-bottom-6 govuk-!-margin-right-0 govuk-!-margin-left-0">

        @if (Model.Item2 != null)
        {

            @await Html.PartialAsync(

                "_InterimBreadcrumbPartial",

                (Model.Item2, Model.Item4)

            )

        }

        <div class="govuk-width-container govuk-width-container-large">

            @if(Model.Item1 != null)
            {

                <div class="govuk-grid-column-two-thirds @(Model.Item3 ? "govuk-!-padding-top-6" : "govuk-!-padding-top-4") govuk-!-padding-left-0">

                    @if (Model.Item1?.PrimarySection != null)
                    {

                        @ComponentService.ToHtmlString(Model.Item1.PrimarySection)

                    }

                </div>

                <div class="govuk-grid-column-one-third @(Model.Item3 ? "govuk-!-padding-top-6" : "govuk-!-padding-top-0")">

                    @if (Model.Item1?.SecondarySection != null)
                    {

                        @ComponentService.ToHtmlString(Model.Item1.SecondarySection)

                    }

                </div>

            }

        </div>

    </div>

}