@using SFA.DAS.TeachInFurtherEducation.Contentful.Model
@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model RichTextContents

<div class="govuk-width-container">

    <div class="govuk-grid-row govuk-!-padding-top-6">
        <div class="govuk-grid-column-full">
            @ComponentService.ToHtmlString(@Model.PageContents)
        </div>
    </div>
</div>

