@* TODO : verify and delete it *@
@using SFA.DAS.TeachInFurtherEducation.Contentful.Model.Interim
@using SFA.DAS.TeachInFurtherEducation.Web.Services
@model (TileSection, bool)

<div id="@Model.Item1.DataId" class="govuk-grid-row">

    @if(!string.IsNullOrWhiteSpace(Model.Item1.TileSectionHeading))
    {

        <div class="govuk-grid-column-full">

            <h2 class="govuk-heading-m">@Model.Item1.TileSectionHeading</h2>

        </div>

    }

    @if(Model.Item1.TileSectionDescription != null)
    {

        <div class="govuk-grid-column-full govuk-!-margin-bottom-4">
            
            @ComponentService.ToHtmlString(Model.Item1.TileSectionDescription)
        
        </div>

    }

    <div class="govuk-grid-column-full">

        <div class="das-grid-two-columns">

            @foreach (Tile tile in Model.Item1.Tiles.OrderBy(a => a.TileOrder))
            {

                @await Html.PartialAsync(

                    "_TilePartial",

                    (tile, Model.Item2)

                )

            }

        </div>

    </div>

</div>