.bg-fe-blue{
    background-color: #003A69;  
}
.bg-fe-black
{
    background-color: #050D12; 
}
.bg-fe-brown
{
    background-color: #D17300;
}
.bg-fe-peach
{
    background-color: #FFF8F2;
}
.bg-fe-white
{
    background-color: #FFFFFF;
}