.image-Card-banner {
    background-color: #003a69;

    .image-card-banner-image-div img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .govuk-body {
        color: #fff;
        font-size: 28px;
    }
    
    .govuk-link {
        color: #fff !important;
        background: url("../images/chevron-red500.png") no-repeat left center;
        background-size: .5375rem .7875rem;
        padding-left: .8125rem;
    }

    @media (max-width: 768px) {
        .image-card-banner__mobile {
            display: none;
        }
         .govuk-body {
            font-size: 18px;
        }
         .govuk-link {
            font-size: 16px;
        }
    }
}