
/*body {*/
/*    background-color: #FFEEDF !important;*/
/*}*/

/*h1, h2, h3, h4, p, span, legend, label, ul, li, a, button { !* .font-override h1, etc {*!*/
/*    font-family: "GDS Transport",Arial,sans-serif;*/
/*}*/

/*.app-header {*/
/*    background-color: #007031;*/
/*}*/

/*.app-header__container {*/
/*    padding: 10px 0;*/
/*    border-bottom: 10px solid #e60060;*/
/*    margin-bottom: -10px;*/
/*}*/

/*.app-header__service-name {*/
/*    font-weight: 700;*/
/*    font-size: 18px;*/
/*    font-size: 1.125rem;*/
/*    line-height: 1.11111;*/
/*    display: inline-block;*/
/*    margin: 5px 0;*/
/*    float: left;*/
/*    width: calc(100% - 110px);*/
/*}*/

/*.app-header__skills-for-life-logo {*/
/*    float: right;*/
/*    margin-top: -30px;*/
/*    position: relative;*/
/*    width: 100px;*/
/*}*/

/*@media (max-width: 330px) {*/
/*    svg.app-header__govuk-logo, svg.app-header__skills-for-life-logo {*/
/*        max-width: 150px;*/
/*        max-height: 33px;*/
/*    }*/
/*}*/

/*@media (max-width: 400px) {*/
/*    table.govuk-table {*/
/*        table-layout: fixed;*/
/*        width: 100%;*/
/*    }*/

/*    td.govuk-table__cell {*/
/*        word-wrap: break-word;*/
/*        overflow-wrap: break-word;*/
/*    }*/
/*}*/

/*@media (min-width: 40.0625em) {*/
/*    .app-header__row,*/
/*    .app-header__col {*/
/*        display: flex;*/
/*        align-items: center;*/
/*    }*/
/*    .app-header__col {*/
/*        justify-content: space-between;*/
/*    }*/
/*    .app-header__skills-for-life-logo {*/
/*        margin-top: 0;*/
/*        width: 168px;*/
/*    }*/

/*    .app-header__department-for-education-logo {*/
/*        width: 165px;*/
/*        height: 100px;*/
/*    }*/

/*}*/

/*@media (min-width: 769px) {*/
/*    .das-header__mobile {*/
/*        display: none;*/
/*    }*/

/*    .desktop_hidden {*/
/*        display: none !important;*/
/*    }*/
/*}*/

/*@media (max-width: 769px) {*/
/*    .das-header__desktop {*/
/*        display: none;*/
/*    }*/
/*}*/

/*@media (max-width: 769px) {*/
/*    .das-header-mobile__flex_column {*/
/*        display: flex;*/
/*        align-items: center;*/
/*    }*/

/*        .das-header-mobile__flex_column svg.app-header__skills-for-life-logo {*/
/*            float: right;*/
/*            position: relative;*/
/*            width: 120px;*/
/*            height: 51px;*/
/*            margin-top: 0;*/
/*        }*/

/*        .das-header-mobile__flex_column svg.app-header__department-for-education-logo {*/
/*            width: 140px;*/
/*            height: 80px;*/
/*        }*/

/*    .das-mobile-heading {*/
/*        margin: 0;*/
/*    }*/

/*    .app-header__department-for-education-logo {*/
/*        width: 120px;*/
/*        height: 70px;*/
/*        margin-left: 8px;*/
/*    }*/

/*    .govuk-header__navigation {*/
/*        display: none;*/
/*    }*/

/*}*/

/*    .app-show-hide {*/
/*        display: none;*/
/*    }*/

/*    .app-show-hide__section--show {*/
/*        display: block;*/
/*    }*/

/*    .app-filter {*/
/*        position: fixed;*/
/*        top: 0;*/
/*        left: 0;*/
/*        right: 0;*/
/*        bottom: 0;*/
/*        z-index: 1;*/
/*        background: #fff;*/
/*        overflow: auto;*/
/*        margin: 0;*/
/*    }*/

/*    @media (min-width: 40.0625em) {*/
/*        .app-filter {*/
/*            position: relative;*/
/*        }*/
/*    }*/

/*    !*todo: consistent naming of these*!*/

/*        @media (max-width: 40.0600em) {*/
/*            body:not(.js-enabled) .app-hide-on-mobile-no-js {*/
/*                display: none;*/
/*            }*/
/*        }*/

/*        @media (min-width: 40.0625em) {*/
/*            body.js-enabled .app-js-desktop-hide {*/
/*                display: none;*/
/*            }*/
/*        }*/

/*        body .js-enabled .app-show-on-mobile-no-js {*/
/*        display: none;*/
/*    }*/

/*    @media (min-width: 40.0625em) {*/
/*        .app-show-on-mobile-no-js {*/
/*            display: none;*/
/*        }*/
/*    }*/

/*    .app-filter:focus {*/
/*        outline: 2px solid #fd0;*/
/*    }*/

/*    .app-filter__header {*/
/*        background: #b1b4b6;*/
/*    }*/

/*    .app-scheme-titles {*/
/*        padding: 0;*/
/*    }*/

/*    .app-video-container {*/
/*        position: relative;*/
/*        width: 100%;*/
/*        --aspect-ratio: 56.25%;*/
/*    }*/

/*        .app-video-container::before {*/
/*            display: block;*/
/*            padding-top: var(--aspect-ratio);*/
/*            content: "";*/
/*        }*/

/*        .app-video-container > * {*/
/*            position: absolute;*/
/*            top: 0;*/
/*            left: 0;*/
/*            width: 100%;*/
/*            height: 100%;*/
/*        }*/

/*    !* IE only. IE doesn't support CSS variables. *!*/
/*    !* youtube videos work on IE, but are forced into a 16:9 ratio *!*/
/*    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {*/
/*        .app-video-container::before {*/
/*            padding-top: 56.25% !important;*/
/*        }*/
/*    }*/

/*    @media (max-width: 40.0600em) {*/
/*        #scheme-home-filter-header {*/
/*            !* stop heading from overlapping close button *!*/
/*            margin-right: 3em;*/
/*        }*/
/*    }*/

/*    #close-filter {*/
/*        position: absolute;*/
/*        top: 12px;*/
/*        right: 12px;*/
/*        padding: inherit;*/
/*        width: auto;*/
/*        background: none;*/
/*        border: none;*/
/*        cursor: pointer;*/
/*        color: #ffffff;*/
/*    }*/

/*@media (min-width: 769px) {*/
/*    #close-filter {*/
/*        display: none;*/
/*    }*/
/*}*/

/*    @media (max-width: 40.0600em) {*/
/*        .app-filter-layout__content {*/
/*            width: 100%;*/
/*        }*/
/*    }*/

/*    @media (min-width: 40.0625em) {*/
/*        .app-filter-layout--show .app-filter-layout__filter {*/
/*            width: 40%;*/
/*        }*/

/*        .app-filter-layout--show .app-filter-layout__content {*/
/*            width: 60%;*/
/*        }*/
/*    }*/

/*    #number-of-schemes-box {*/
/*        background-color: #F3F2F1 !important;*/
/*        padding: 15px;*/
/*        margin-bottom: 15px;*/
/*    }*/

/*    #number-of-schemes-heading {*/
/*        margin-bottom: 0;*/
/*    }*/

/*    #mobile-no-js-filter-form {*/
/*        width: 100%;*/
/*        margin-top: 15px;*/
/*    }*/

/*    #scheme-home-filter-form-button-group {*/
/*        margin-top: 15px;*/
/*    }*/

/*    .cx-cta-box {*/
/*        background: #f3f2f1;*/
/*        padding: 15px;*/
/*        padding-bottom: 15px;*/
/*        margin-top: 25px;*/
/*        margin-bottom: 15px;*/
/*        border-radius: 30px;*/
/*        background-color: #EAF0F6;*/
/*        border: 0.5px solid #D6E5EE;*/
/*    }*/

/*    @media (min-width: 40.0625em) {*/
/*        .cx-cta-box {*/
/*            margin-bottom: 20px;*/
/*            margin-top: 40px;*/
/*            padding: 20px;*/
/*            border-radius: 30px;*/
/*            background-color: #EAF0F6;*/
/*            border: 0.5px solid #D6E5EE;*/
/*        }*/
/*    }*/

/*    @media (min-width: 40.0625em) {*/
/*        #explore-schemes li {*/
/*            margin-bottom: 10px;*/
/*        }*/

/*        .explore-schemes-current-scheme {*/
/*            font-weight: 600;*/
/*            margin-left: -14px;*/
/*            padding-left: 10px;*/
/*            border-left: 4px solid #D30172;*/
/*        }*/
/*    }*/

/*    .app-alert-danger {*/
/*        color: #721c24;*/
/*        background-color: #f8d7da;*/
/*        border-color: #f5c6cb;*/
/*    }*/

/*    .app-alert {*/
/*        padding: .75rem 1.25rem;*/
/*        margin-bottom: 1rem;*/
/*        border: 1px solid transparent;*/
/*        border-radius: .25rem;*/
/*    }*/

/*    @media (max-width: 40.0600em) {*/
/*        #comparison-results-table .govuk-table__header, #comparison-results-table .govuk-table__cell {*/
/*            padding: 10px 10px 10px 0;*/
/*        }*/
/*    }*/

/*    !*https://github.com/nhsuk/nhsuk-frontend/blob/master/packages/components/tables/_tables.scss*!*/

/*    !* ==========================================================================*/
/*   COMPONENTS / #TABLE*/
/*   ========================================================================== *!*/
/*    !***/
/* * Table container is used to ensure the table does not break the container.*/
/* **/
/* * 1. Margin is removed so there isn't double spacing.*/
/* *!*/
/*    .nhsuk-table-container {*/
/*        margin-bottom: 30px;*/
/*        display: block;*/
/*        -webkit-overflow-scrolling: touch;*/
/*        -ms-overflow-style: -ms-autohiding-scrollbar;*/
/*        overflow-x: auto;*/
/*        width: 100%;*/
/*    }*/

/*    @media (min-width: 40.0625em) {*/
/*        .nhsuk-table-container {*/
/*            margin-bottom: 50px;*/
/*        }*/
/*    }*/

/*    .nhsuk-table-container .nhsuk-table {*/
/*        margin: 0;*/
/*        !* [1] *!*/
/*    }*/

/*    !* Table row hover*/
/*  ========================================================================== *!*/
/*    !***/
/*   * Table row hover is used to aid readability for users.*/
/*   *!*/
/*    !* Table panel with tab heading*/
/*  ========================================================================== *!*/
/*    !***/
/*   * 1. Margin is removed so there isn't double spacing.*/
/*   *!*/
/*    !* Responsive table*/
/*  ========================================================================== *!*/
/*    !***/
/*   * 1. Hiding the thead on mobile*/
/*   * 2. Displaying the thead on desktop*/
/*   * 3. Removing default screen reader behaviour*/
/*   * 4. Assigning role of table-row on desktop to give default screen reader behaviour*/
/*   * 5. Using justify content to space out elements in the row on mobile*/
/*   * 6. Assigning a minimum width in case of black cell*/
/*   * 7. Aligning content to the right on mobile*/
/*   * 8. Aligning mobile header to left to split it from the data*/
/*   * 9. Hiding mobile specific header from desktop view*/
/*   * 10. Adding a display block value due to IE 11 not having full flex support*/
/*   *!*/
/*    .nhsuk-table-responsive {*/
/*        margin-bottom: 0;*/
/*        width: 100%;*/
/*    }*/

/*    @media (max-width: 48.0525em) {*/
/*        .nhsuk-table-responsive thead {*/
/*            position: absolute !important;*/
/*            width: 1px !important;*/
/*            height: 1px !important;*/
/*            margin: 0 !important;*/
/*            padding: 0 !important;*/
/*            overflow: hidden !important;*/
/*            clip: rect(0 0 0 0) !important;*/
/*            -webkit-clip-path: inset(50%) !important;*/
/*            clip-path: inset(50%) !important;*/
/*            border: 0 !important;*/
/*            white-space: nowrap !important;*/
/*        }*/
/*    }*/

/*    .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table-responsive__heading {*/
/*        font-weight: bold;*/
/*        padding-right: 15px;*/
/*        text-align: left;*/
/*        !* [8] *!*/
/*    }*/

/*    @media (min-width: 48.0625em) {*/
/*        .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table-responsive__heading {*/
/*            display: none;*/
/*            !* [9] *!*/
/*        }*/
/*    }*/

/*    .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row {*/
/*        display: block;*/
/*        !* [3] *!*/
/*        margin-bottom: 20px;*/
/*    }*/

/*        .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row:last-child {*/
/*            margin-bottom: 0;*/
/*        }*/

/*    @media (min-width: 48.0625em) {*/
/*        .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row {*/
/*            display: table-row;*/
/*            !* [4] *!*/
/*        }*/
/*    }*/

/*    .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row th {*/
/*        text-align: right;*/
/*    }*/

/*    @media (min-width: 48.0625em) {*/
/*        .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row th {*/
/*            text-align: left;*/
/*        }*/
/*    }*/

/*    .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row td {*/
/*        display: block;*/
/*        display: flex;*/
/*        justify-content: space-between;*/
/*        !* [5] *!*/
/*        min-width: 1px;*/
/*        !* [6] *!*/
/*    }*/

/*    @media all and (-ms-high-contrast: none) {*/
/*        .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row td {*/
/*            !* [10] *!*/
/*            display: block;*/
/*        }*/
/*    }*/

/*    @media (min-width: 48.0625em) {*/
/*        .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row td {*/
/*            display: table-cell;*/
/*        }*/
/*    }*/

/*    @media (max-width: 48.0525em) {*/
/*        .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row td {*/
/*            padding-right: 0;*/
/*            text-align: right;*/
/*        }*/

/*            .nhsuk-table-responsive .nhsuk-table__body .nhsuk-table__row td:last-child {*/
/*                border-bottom: 3px solid #D30172;*/
/*            }*/
/*    }*/

/*    .das-horizontal-icon-list {*/
/*        list-style: none;*/
/*        padding: 0;*/
/*        display: flex;*/
/*        color: #255EA0;*/
/*    }*/

/*    .das-share-links {*/
/*        display: flex;*/
/*        flex-wrap: wrap;*/
/*    }*/

/*        .das-share-links li {*/
/*            flex: 1;*/
/*            margin-right: 20px;*/
/*            text-align: center;*/
/*        }*/

/*            .das-share-links li img {*/
/*                width: 30px;*/
/*                margin-right: 10px;*/
/*            }*/

/*    @media (max-width: 40.0625em) {*/
/*        .das-share-links li {*/
/*            flex: 0 0 calc(50% - 10px);*/
/*            margin-bottom: 10px;*/
/*            margin-right: 0 !important;*/
/*        }*/
/*    }*/

/*    .das-horizontal-icon-list li {*/
/*        display: inline-flex;*/
/*        align-items: center;*/
/*        margin-right: 60px;*/
/*    }*/

/*        .das-horizontal-icon-list li i {*/
/*            font-size: 30px;*/
/*            margin-right: 5px;*/
/*        }*/

/*        .das-horizontal-icon-list li a {*/
/*            position: relative;*/
/*            text-align: left;*/
/*        }*/

/*    @media (max-width: 768px) {*/
/*        .filters_mobile_hidden {*/
/*            display: none !important;*/
/*        }*/

/*        .mobile-filter__layout {*/
/*            position: fixed;*/
/*            top: 0;*/
/*            left: 0;*/
/*            right: 0;*/
/*            bottom: 0;*/
/*            z-index: 1;*/
/*            background: #fff;*/
/*            overflow: auto;*/
/*            margin: 0;*/
/*        }*/
/*    }*/

/*.sr-only {*/
/*    position: absolute;*/
/*    width: 1px;*/
/*    height: 1px;*/
/*    margin: -1px;*/
/*    padding: 0;*/
/*    overflow: hidden;*/
/*    clip: rect(0, 0, 0, 0);*/
/*    border: 0;*/
/*}*/

/*button.govuk-link {*/
/*    background: none;*/
/*    border: none;*/
/*    color: #1d70b8;*/
/*    text-decoration: underline;*/
/*    cursor: pointer;*/
/*}*/

/*    button.govuk-link:hover {*/
/*        color: #003078;*/
/*    }*/

/*table#comparison-results-table {*/
/*    table-layout: fixed;*/
/*    width: 100%;*/
/*}*/

/*table#comparison-results-table th:not(:first-child) {*/
/*    width: auto;*/
/*}*/

/*table#comparison-results-table th:first-child {*/
/*    width:280px;*/
/*    max-width: 280px;*/
/*}*/

/*.flex-container {*/
/*    display: flex;*/
/*    align-items: center;*/
/*}*/

/*.govuk-scheme_sort_label {*/
/*    width: 85px;*/
/*    max-width: 85px;*/
/*}*/

/*.govuk-scheme_sort_select {*/
/*    width:auto;*/
/*}*/

/*.das-employers__section_break {*/
/*    border-bottom: 1px solid #d30172 !important;*/
/*}*/

/*.das-employers__no_schemes {*/
/*    background-color: rgba(211, 1, 114, 0.05);*/
/*}*/

/*.interim-contents-section-component ul {*/
/*    padding-left: 28px !important;*/
/*}*/

/*    .interim-contents-section-component ul li::marker {*/
/*        color: #1D70B8;*/
/*    }*/

/*[data-type="interim-container"] a {*/
/*    font-weight: bold;*/
/*}*/

.test {
    background-color: #ffffff;
}