.image-Card-banner {
    background-color: #003a69;

    .image-card-banner-image-div img {
        width: auto;
        height: 100%;
        object-fit: cover;
    }

    .govuk-body {
        color: #fff;
        font-size: 28px;
    }

    .govuk-link {
        color: #fff !important;
        background: url("../images/chevron-red500.png") no-repeat left center;
        background-size: .5375rem .7875rem;
        padding-left: .8125rem;
    }

    @media (max-width: 768px) {
        .image-card-banner__mobile {
            display: none;
        }

        .govuk-body {
            font-size: 18px;
        }

        .govuk-link {
            font-size: 16px;
        }
    }
}

.contact-us-banner {
    background-color: #003a69;

    h3 {
        color: #fff;
    }

    .govuk-body-l {
        color: #fff;
    }

    .govuk-link {
        color: #fff !important;
        position: absolute;
        padding: 25px 10px;
    }

    @media (max-width: 768px) {
        .image-icon {
            height: 40px;
            width: 34px;
            padding: 10px;
        }

        .govuk-body {
            font-size: 18px;
        }

        .govuk-link {
            font-size: 16px;
            position: absolute;
            padding: 12px 5px;
        }

    }
}

.video-content {
    .video-tife-iframe {
        height: 350px;
        width: 570px;
    }

    .govuk-details {
        border-left: 0;
    }

    .govuk-details__summary-text {
        padding-left: 1px;
    }

    @media (max-width: 768px) {
        .video-tife-iframe {
            height: 186px !important;
            width: 370px !important;
        }
    }
}

.dfe-header__search {
    .fe-logo {
        width: 347px;
        height: 97px;
        flex-shrink: 0;
    }
    @media (max-width: 768px) {
        .fe-logo {
            width: 175px;
            height: 50px;
            flex-shrink: 0;
        }
    }
}
 